body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filme {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.poster-filme {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.info-filme {
  flex: 1;
}

.paginacao {
  margin-top: 20px;
}

#barra-busca {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}
